body {
    background: #FCE2CA;
}

h1 {
    font-size: 24px;
    font-family: arial, sans-serif;
    color: #;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    overflow: hidden;
    background-color: #967c3c
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #c9b88d
}