body {
    background: #E5D099;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    overflow: hidden;
    background-color: #523E07
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #E5D099;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #7A611F;
    text-decoration: none;
    color: #efe8d5;
}

h1 {
    background-color: #053725;
    color: #E5D099;
    font-size: 80px;
    font-family: Georgia, Palatino, serif;
    text-align: center;
    margin: 0px;
    padding:10px;
}

footer{
    text-align: center;
}

form {
    margin: 50px;
    text-align: center;
    padding: 3px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #6F1C31;
}

table {
padding: 3px;
border-style: solid;
border-width: 3px;
margin: 5px;
border-radius: 15px;
border-color: #6F1C31;
border: 3px solid #6F1C31;
border-collapse: collapse;
color: black;
}

table thead th{
padding: 10px;
background-color: #053725;
color: #E5D099;

}

table tbody td {
padding: 10px;
}