body {
    background: #FFFEFA;
}

h1 {
    text-align: center;
    font-size: 52px;
    color: #621427;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

li a:hover {
    background-color: #111;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #E5E4E1}

th {
    background-color: #333;
    color: white;
}